<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Contact Book</title>
</head>
<body>
    <div class="login">
        <div class="login-connect">
          <h1>Login with Socials</h1>
          <a href="#" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
          <a href="#" class="btn btn-social btn-twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</a>
          <a href="#" class="btn btn-social btn-google"><i class="fa fa-google-plus"></i> Sign in with Google</a>
          <a href="#" class="btn btn-social btn-linkedin"><i class="fa fa-linkedin"></i> Sign in with Linkedin</a>
        </div>
        <div class="login-classic">
    
          <h2>Login or <a href="/signup">SignUp</a></h2>
          <form class="form" action="/login" method="post">
            <fieldset class="email form-group">
              <input type="email" placeholder="email" class="form-control" name="email" />
            </fieldset>
            <fieldset class="password form-group">
              <input type="password" placeholder="password" class="form-control" name="password" />
            </fieldset>
            <button type="submit" class="btn">Sign up</button>
          </form>
        </div>
      </div>
</body>
</html>